.dither-container {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background: black;
  pointer-events: none;
}

.dither-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
