.shuffle-parent {
  display: inline-block;
  overflow: hidden;
  white-space: pre-wrap;
}

.shuffle-char {
  display: inline-block;
}

.shuffle-word {
  display: inline-block;
  white-space: nowrap;
}

.shuffle-line {
  display: block;
}
